 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  --thumb-color: #1b356a;
  --thumb-hover-color: #87a6e5;
  --track-color: #c0c0c0;
  --track-active-color: #1b356a;
  margin: 30px auto 60px;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-8 {
  --progress: 0%;
}

.u-section-1 .u-input-8 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-9 {
  --progress: 0%;
}

.u-section-1 .u-input-9 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-10 {
  --progress: 0%;
}

.u-section-1 .u-input-10 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-11 {
  --progress: 0%;
}

.u-section-1 .u-input-11 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}