

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #379937;
}


body {
  margin: 40px;
}

ul.nav {border-bottom: 1px solid #999;}
ul.nav li a {display: block; text-decoration: none; color: #333; padding: 5px; border: 1px solid #fff;}
ul.nav > li:hover {border: 1px solid #666; border-bottom: 1px solid #fff;}
ul.nav li a:hover {background: #ccc; border: 1px solid #999;}
ul.nav > li {display: inline-block; position: relative; border: 1px solid #fff;}
ul.nav > li ul {display: none; position: absolute; left: -1px; width: 150px; border: 1px solid #666; border-top-color: #fff; margin-top: 1px;}
ul.nav > li:hover ul {display: block;}
ul.nav > li ul li {display: block;} /* Vertical Menu */
ul.nav > li ul li {display: inline-block;} /* Horizontal Menu */

.dropdown-custom {
  position: relative;
  font-size: 14px;
  color: #333;
  .dropdown-list-custom {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform .15s ease-in-out .15s;
    max-height: 66vh;
    overflow-y: scroll;
    width: 200px !important;
  }

  .dropdown-option-custom {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }

  .dropdown-label-custom {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;

    &:before {
      content: '▼';
      float: right;
    }
  }

  &.on {
   .dropdown-list-custom {
      transform: scale(1, 1);
      transition-delay: 0s;

      .dropdown-option-custom {
        opacity: 1;
        transition-delay: .2s;
      }
    }

    .dropdown-label-custom:before {
      content: '▲';
    }
  }

  [type="checkbox"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
  }
}
.dropdown-custom {
  position: relative;
  font-size: 14px;
  color: #333;

  .dropdown-list-custom {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform .15s ease-in-out .15s;
    max-height: 66vh;
    overflow-y: scroll;
  }

  .dropdown-option-custom {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }

  .dropdown-label-custom {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;

    &:before {
      content: '▼';
      float: right;
    }
  }

  &.on {
   .dropdown-list-custom {
      transform: scale(1, 1);
      transition-delay: 0s;

      .dropdown-option-custom {
        opacity: 1;
        transition-delay: .2s;
      }
    }

    .dropdown-label-custom:before {
      content: '▲';
    }
  }

  [type="checkbox"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
  }
}



.u-section-1 .u-sheet-1 {
  min-height: 153px;
}

.u-section-1 .u-text-1 {
  width: 534px;
  margin: 20px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 70px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1144px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 863px;
  margin: 36px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 387px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 305px;
  width: 200px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-2 .u-line-1 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 305px;
  width: 200px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-2 .u-line-3 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-2 .u-line-4 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 305px;
  width: 200px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-2 .u-line-5 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 305px;
  width: 200px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-2 .u-line-7 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-2 .u-line-8 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

.u-section-2 .u-text-5 {
  margin: -345px 127px 0 auto;
}

.u-section-2 .u-form-1 {
  height: 160px;
  margin: 14px 33px 60px 907px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  text-transform: uppercase;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 740px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1329px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    margin-left: 0;
  }

  .u-section-2 .u-line-4 {
    margin-left: 0;
  }

  .u-section-2 .u-line-5 {
    margin-left: 0;
  }

  .u-section-2 .u-line-6 {
    margin-left: 0;
  }

  .u-section-2 .u-line-7 {
    margin-left: 0;
  }

  .u-section-2 .u-line-8 {
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    margin-left: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-form-1 {
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 598px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-5 {
    margin-right: 80px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 140px;
  }
}