.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 40px 65px 0 auto;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 53px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 387px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 305px;
  width: 200px;
  transition-duration: 0.75s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-1 .u-line-1 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 305px;
  width: 200px;
  object-position: 50% 50%;
  transition-duration: 0.75s;
  margin: 13px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-1 .u-line-3 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-1 .u-line-4 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 305px;
  width: 200px;
  transition-duration: 0.75s;
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-1 .u-line-5 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-1 .u-line-6 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 305px;
  width: 200px;
  transition-duration: 0.75s;
  margin: 13px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 22px auto 0;
}

.u-section-1 .u-line-7 {
  width: 181px;
  margin: 13px auto 0;
}

.u-section-1 .u-line-8 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 6px auto 0 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 317px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    margin-left: 0;
  }

  .u-section-1 .u-line-6 {
    margin-left: 0;
  }

  .u-section-1 .u-line-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 999px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    margin-left: 0;
  }

  .u-section-1 .u-line-5 {
    margin-left: 0;
  }

  .u-section-1 .u-line-7 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-top: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 600px;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-1 .u-line-1 {
    margin-right: -16px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 0;
    margin-right: 165px;
  }

  .u-section-1 .u-image-2 {
    height: 192px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-1 .u-line-3 {
    margin-right: -16px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 0;
    margin-right: 165px;
  }

  .u-section-1 .u-image-3 {
    height: 192px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-1 .u-line-5 {
    margin-right: -16px;
  }

  .u-section-1 .u-line-6 {
    margin-top: 0;
    margin-right: 165px;
  }

  .u-section-1 .u-image-4 {
    height: 192px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-1 .u-line-7 {
    margin-right: -16px;
  }

  .u-section-1 .u-line-8 {
    margin-top: 0;
    margin-right: 165px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}